h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(108, 218, 122);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.box{
    background-color: rgb(30, 5, 255) ;
    display: flex
}

p,h2{
    text-align: center;
}

